@import 'partials/base';


// Global
// --------------------------------------------------
body {
  background: $bodyBackground image-url('backgrounds/bg-page.png') repeat;
  color: $textColor;
  line-height: 1.5;
  font-size: 100%;
  font-family: $baseFontFamily;
}


// Typography
// --------------------------------------------------
h1, h2, h3,
h4, h5, h6 {
  line-height: 1.25;
  font-family: $sansFontFamily;
}

h2 {
  font-size: calc-em(14px);
  color: $gray;
  font-weight: 800;
}

p {
  font-weight: 300;
}

dl,
dt,
dd {
  margin: 0;  
}

dl {
  @extend %group;
  margin: 0 0 calc-em(32px);
  background: $white;
  padding: calc-em(16px);
  border: 1px solid $grayLighter;
  @include border-radius(4px);
}

dt {
  clear: both;
  float: left;
  width: 67.7777%;
  font-weight: 300;
  font-family: $sansFontFamily;
  margin-bottom: calc-em(28px, 14px);
  font-size: calc-em(14px);
  color: $gray;
}

dd {
  float: right;
  width: 30%;
  text-align: right;
}

dd, dt {
  &:last-of-type {
    margin-bottom: 0;
  }
}

// Header
// --------------------------------------------------
.site-header {

}
.main-content {
  @include container;
  .content {
    @extend %group;
  }
  .sidebar {
    @include respond-to(47em) {
      @include span-columns(3, 12);
    }
  } //sidebar
  .main-article {
    @include respond-to(47em) {
      @include span-columns(8 omega, 12);
    }
  } //main-article
} //main-content




// Footer
// --------------------------------------------------
.site-footer {

}
