<h2>Moving Around</h2>
<dl>
  <dt>Move to beginning of a word</dt>
  <dd>w/W</dd>
  <dt>Move to end of a word</dt>
  <dd>e/E</dd>
  <dt>Move to the beginning of previous word</dt>
  <dd>b/B</dd>
  <dt>Move to the end of previous word</dt>
  <dd>ge/gE</dd>
  <dt>Move to next character match</dt>
  <dd>f+[char]</dd>
  <dt>Move to next space before next character</dt>
  <dd>t+[char]</dd>
  <dt>Move top of current screen</dt>
  <dd>H</dd>
  <dt>Move to middle of current screen</dt>
  <dd>M</dd>
  <dt>Move to bottom of current screen</dt>
  <dd>L</dd>
  <dt>Search page for current word cursor is on</dt>
  <dd>g*</dd>
  <dt>Jump to line number</dt>
  <dd>Line Number+G</dd> 
</dl>

<h2>Git</h2>
<dl>
  <dt>Reset/checkout an individual file</dt>
  <dd>:Gread</dd>
</dl>

<h2>Text Editing</h2>
<dl>
  <dt>Append to word</dt>
  <dd>a</dd>
  <dt>Append to end of line</dt>
  <dd>a</dd>
  <dt>Change highlighted text</dt>
  <dd>c</dd>
  <dt>Cut to end of line</dt>
  <dd>d$</dd>
  <dt>Cut to end of word</dt>
  <dd>de</dd>
  <dt>Paste before cursor</dt>
  <dd>P</dd>
  <dt>Deldiete between tags</dt>
  <dd>dit</dd>
  <dt>Copy line</dt>
  <dd>yy</dd>
  <dt>Copy to end of line</dt>
  <dd>y$</dd>
  <dt>Copy to end of word</dt>
  <dd>ye</dd>
  <dt>Cut word and enter insert mode</dt>
  <dd>ce</dd>
  <dt>Cut everythign within two marks and enter insert mode</dt>
  <dd>ci(char)</dd>
  <dt>Select previous text selection</dt>
  <dd>gv</dd>
</dl>

<h2>Replacing</h2>
<dl>
  <dt>Replace pattern with string</dt>
  <dd>:s/pt/str/flag</dd>
  <dt>Confirm each replace</dt>
  <dd>c</dd>
  <dt>Replace all</dt>
  <dd>g</dd>
  <dt>Repeat last :s command</dt>
  <dd>&</dd>
</dl>

<h2>Etc.</h2>
<dl>
  <dt>Fold between tags</dt>
  <dd>zfat</dd>
  <dt>Toggle folds</dt>
  <dd>za</dd>
  <dt>Join lines</dt>
  <dd>J</dd>
</dl>


<h2>Zen Coding</h2>
<dl>
  <dt>Expand Zen phrase</dt>
  <dd>CTRL-y &#43; ,</dd>
</dl>
